/*基本默认值*/
*{
    margin: 0;
    padding: 0;
}
html{
    color: #222;
    font-size: 62.5%;
    /*此时1rem=12px*/
}
a{
    color: #666;
    text-decoration: none;
}

a:hover,a:active{
    color: #0ae;
    text-decoration: underline;
}
ul{
    list-style: none;
}

/*头部*/
header {
    width: 100%;
}

header .top{
    line-height: 3rem;
    color: #fff;
    background-color: #555;
    border-bottom: 1px solid #ecc000;
    overflow: hidden;
    box-sizing: border-box;
}
header .top .tel{
    padding: 0 1.5rem;
    float: left;
    border: 1px solid red;
}

header .top ul{
    float: right;
    border: 1px solid red;
}

header .top li{
    display: inline-block;
}
header .top ul li+li{
    border-left: 1px solid #999;
    margin-left: -3px;
}

header .top ul li a{
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

/*第二个头部*/
header .main{

    padding: 0;
}
header .main .brand{
    float: left;
    padding: 1rem 1.5rem;
}
header .main ul{
    text-align: right;
}

header .main ul li{
    display: inline-block;
    border-left: 1px solid #f0ede8;
}
header .main ul li a{
    display: inline-block;
    padding: 0 3rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
}

/*交易信息*/
.transaction{
    width: 100%;
    background-color: #7c7365;
}
.trans-content{
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}
.trans-data{
    float: left;
    padding: 1rem;
    text-align: left;
}
.trans-data span{
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}
.trans-data .trans-money{
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin:  0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 2px 1px #333 inset;
}
.trans-report{
    text-align: right;
}
.trans-report a{
    display: inline-block;
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
}

/*平台特点*/
.feature{
    width: 90%;
    margin:2rem auto;
    font-size: 0;
    border: 1px solid red;

}
.feature .item{
    border: 1px solid red;
    display: inline-block;
    box-sizing: border-box;
    width:calc(32.5%);
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.feature .item+.item{
    margin-left: 1.5rem;
}
.feature .item h3{
    border: 1px solid red;
    display: inline-block;
    width: 40%;
    margin: 0;
    text-align: center;
    font-size: 3.3rem;
    color: #ff9900;
    vertical-align: top;
    /*属性设置元素的垂直对齐方式*/
}
.feature .item p{
    display: inline-block;
    width: 55%;
    margin: 0;
    padding: 0;
    color: #999;
}

/*最新公告*/
.notice{
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #ffff;
    box-shadow: 0px 0px 4px #333;
    overflow: hidden;
}

.notice a{
    float: left;
    display: inline-block;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

.notice a:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice a:first-child:before{
    content: '最新公告：  ';
    color: #aaa;
}
.notice a span{
    border: 1px solid red;
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.notice .more{
    color: #ff9900;
    width: auto;
    float: right;
    margin-right: 2rem;
}

/*产品*/
.product{
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #cccccc;
    overflow: hidden;
}
.product h2{
    float: left;
    width: 20%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}
.product h2 em{
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.product h2 em:first-child{
    margin-top: 4rem;
}
.product .product-content {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}
.product .product-content  .item{
    width: 100%;
    overflow: hidden;
}
.product .product-content .item+.item{
    border-top: 1px solid #eee;
}
.product .product-content .item h3{
    float: left;
    width: 30%;
    margin:  1.5rem;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}
.product .product-content .item h3 em{
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}
.product .product-content .item h3 i{
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}
.product .product-content .item .info{
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .item .info p{
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child{
    width: 40%;
}

.product .product-content .item .info p span{
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .item .info p span i{
    color: #999;
    font-size: 1.2rem;
    font-style: normal;
}
.product .product-content .item .buy{
    float: right;
    width: 16%;
    border: 1px solid red;

}
.product .product-content .item .buy a{
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}


/*内容*/
.container{
    width: 100%;
}

/*底部导航*/
.footer{

    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
    overflow: hidden;
}
.footer-content .brand{

    float: left;
    display: block;
    /*灰色滤镜*/
    filter: grayscale(100%);
    width:20%;
    height: 35px;
    background: url("../img/logo@1x.png") no-repeat center;
    background-size: 150px 35px;
}
.footer-content ul{
    float: left;
    width: 15%;
}
.footer-content ul li{
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.footer-content ul li .title{
    font-size: 1.6rem;
    line-height: 3rem;
}
/*页尾*/
footer{
    width: 100%;
    padding:  3rem 0 5rem;
    background-color: #ededed;
}
footer p{
    text-align: center;
}
